.cuadro{
    padding-bottom: 1rem;
    padding-top: 1rem;
}
.textocuadro{
    background: white;
    margin-left: 2rem;
    margin-top: -3rem;
    margin-right: 56rem;
    padding: 1rem;
    text-align: center
}
.mayusculas{
    text-transform: uppercase;
}
.required{
    color: red;
}
.display-4-1{
    font-size: 200%;
}
#inputtabla {
  border: none;
  display: inline;
  font-family: inherit;
  font-size: inherit;
  padding: none;
  width: auto;
}